@font-face {
  font-family: "ProximaNovaRegular"; /* Provide a name for the font */
  src: url("../assets/fonts/proxima_nova_regular.ttf") format("truetype"); /* Specify the path to your TTF font file */
  font-weight: normal;
  font-style: normal;
}

html * {
  font-family: "ProximaNovaRegular";
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  font-size: 1.8rem;
}

div {
  font-size: 1rem;
}

textarea {
  resize: none;
}

.App {
  font-family: "ProximaNovaRegular";
  text-align: center;
}

/* Modal Block */
.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  transition: opacity 300ms ease;
}

/* Modal  */

.modal__content {
  background-color: white;
}

/* Close Button Element */
.modal__close-button {
  all: unset;
  font-size: 2.5rem;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  border-radius: 0.25rem;
  color: darkgray;
  margin-top: 10px;
}

/* Close Button Modifier (Hover) */
.modal__close-button:hover {
  color: black;
}

dialog {
  z-index: 999;
  border-radius: 10px;
  border: solid 1px #eee;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  width: 300px;
  width: 350px;
}

dialog::backdrop {
  background-color: rgba(255, 30, 30, 0.1);
  backdrop-filter: blur(3px);
}

/* Form */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container * {
  width: 100%;
}

.form-container__header {
  width: 100%;
}

.form-container__input {
  padding: 5px;
  min-height: 14px;

  box-sizing: border-box;
}

.form-container__error {
  text-align: center;
  width: 100%;
  color: red;
}

.save-item__button {
  min-height: 14px;
  padding: 5px 0px 5px 0px;
  background: #00c55d;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  border: solid 1px #00c55d;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
}

.save-item__button:hover {
  background: #276946;
  transition: background-color 100ms linear;
  border: solid 1px #276946;
  cursor: pointer;
}
.save-item__button:focus {
  background-color:276946;
  border: solid 1px #276946;
}

.save-item__button:disabled {
  background: darkgray;
  border: solid 1px darkgray;
}

.add-item__button {
  all: unset;
  background: #00c55d;
  text-align: center;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  height: 60px;
  width: 60px;
  position: fixed;
  right: 20px;
  z-index: 99999;
  bottom: 10px;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: background-color 100ms linear;
}

.add-item__button:hover {
  background: #276946;
  transition: background-color 100ms linear;
}

/* Item */

.item {
  padding: 10px;
}

.item__button {
  background: #FF6700;
  color: #fff;
  border: solid 1px #FF6700;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.item__button:hover {
  background: #9e4001;
  border: solid 1px #9e4001;
  transition: background-color 100ms linear;
}

.item__button-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rct-item-content {
  text-align: center;
}
